<html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <!-- Compiled and minified CSS -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="/stylesheets/style.css">
      <!--jqury-->
       <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    </head>
    <body style="background-color: #27ae60;">
       <!--<% result.map((item)=>{ %>
          
            <h2><%=item.employeename %></h2>

        <%})%>--> 

        <div class="maincontainer">
             
            <div class="tablebox" >
                <div col s6 class="heading">
                    <div style="display:flex; justify-content:space-between;">
                    Employee List
                    <a href="/employee/employeeinterface"><i class="material-icons prefix">person_add</i></a>
                </div>
                </div>

                <table class="striped">
                    
                    <thead>
                      <tr>
                          <th>Id</th>
                          <th>Name/<br>Gender</th>
                          <th>Birth Date</th>
                          <th>Contact <br> Details</th>
                          <th>Address</th>
                          <th>Picture</th>
                          <th>Update</th>
                      </tr>
                    </thead>
            
                    <tbody>
                        <% result.map((item)=>{%>
        
                            <tr>
                                <td><%=item.employeeid%></td>
                                <td><%=item.employeename%>/<br><%=item.gender%></td>
                                <td><%=item.dob%></td>
                                <td><%=item.emailaddress%><br><%=item.contactnumber%></td>
                                <td><%=item.address%><br><%=item.cname%>,<%=item.sname%></td>
                               <!--<td><a href="/images/<%=item.picture%>" target="_blank"><img src="/images/<%=item.picture%>" width="30"></a></td>-->
                               <td><a href="/employee/display_picture?eid=<%=item.employeeid%>&ename=<%=item.employeename%>&picture=<%=item.picture%>" target="_blank"><img src="/images/<%=item.picture%>" width="30"></a></td>
                                <td><a  href="/employee/display_by_id?eid=<%=item.employeeid%>" target="_blank">Edit/Delete</a></td>
        
                              </tr>
        
                            
                       <% })%>
                      
                    </tbody>
                  </table>
            </div>
        </div>
        

    </body>
    </html>